@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$Green : #16c79a;
$DarkBlue : #19456b;
$DarkestBlue : #0e283f;
$LightBlue : #11698e;
$White : #b8d3e0;
$ButtonGradient: linear-gradient(135deg, $LightBlue 40%, $Green 90%);

*{
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

html, body{
  padding: 0;
  margin: 0;
  background-color: $DarkestBlue;
}

.App {
    
  text-align: center;

    .bubbleContainer{
      height: 100vh;
      width: 100vw;
      position: relative;
      
      .bubble{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: linear-gradient(135deg, $LightBlue 40%, $Green 110%);
        position: absolute;
        z-index: 2;
      }
    }
    
    .navBar{
      height: 100vh;
      width: 100px;
      top: 0;
      background-color: $DarkBlue;
      position: fixed;
      padding: 10px;
      z-index: 10000;

      .logoContainer{
        user-select: none;
        position: absolute;
        width: 100%;
        height: 20px;
        text-align: center;
        left: 0;
        top: 20px;

        span{
          font-size: 15px;
          color: white;

          &:nth-child(2){
            color: #16c79a;
          }
        }
      }

      .navBarIcons{
        position: absolute;
        top: 50%;
        left: 50%;
        height: 400px;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 5;
        grid-row-gap: initial;
        
        .icon{
          margin: auto;

          a{
            display: block;
            cursor: pointer;
            filter: opacity(0.7);
            transition: .15s ease;

            svg{
              width: 30px;
              height: 30px;
              fill: #508cc0;
            }

            &:hover{
                transform: scale(1.1);
                filter: opacity(1);
            }
          }
        }
      }
    }

    .Content{
      height: 100vh;
      width: 100%;
      position: relative;
      overflow: hidden;

      .Hero{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 150px;
        width: 100vw;
        text-align: left;
        height: 100vh;
        
        .textContainer{
          position: absolute;
          top: 50%;
          left: 25%;
          transform: translate(-50%, -130%);
          width: 300px;
          font-size: 35px;
          z-index: 100;
          color: $White;
        }

        svg{
          position: absolute;
          top: 50%;
          left: 25%;
          transform: translate(-50%, -50%) scale(1.8);
          display: block;
          overflow: hidden;
          z-index: 50;
        }

        .btn{
          position: absolute;
          top: 50%;
          left: 25%;
          transform: translate(-50%, -50%);
          z-index: 10;
        }

        .letter{
          display: inline-block;
        }
      }
    }
}
  